node_modules
.git
.gitignore
.env
.env.*
Dockerfile
docker-compose*.yml
.dockerignore
*.md
.vscode
.idea
coverage
jest-cache
tests
requests.rest
.DS_Store
Thumbs.db
*.log
npm-debug.log*
Jenkinsfile.*
